<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.funi.distributedcomputer.dubbo.dal.persistence.UserMapper">
    <sql id="Base_Column_List">
        id, username,password,realname,avatar,mobile,sex,status,create_time
    </sql>
    <!--通过用户名获得用户-->
    <select id="getUserByUserName"
            resultType="com.funi.distributedcomputer.dubbo.dal.entity.User"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user where username=#{username}
    </select>
    <!--通过用户id获得用户信息-->
    <select id="getUserByUid"
            resultType="com.funi.distributedcomputer.dubbo.dal.entity.User"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user where id=#{uid}
    </select>
    <!--添加用户-->
    <insert id="insertSelective" parameterType="com.funi.distributedcomputer.dubbo.dal.entity.User" keyColumn="id"
            useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="realname != null">
                realname,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>
